
.simpleweather-popup-icon {
    icon-size: 128px;
}

.simpleweather-popup-temp {
    font-size: 64px;
    text-align: center;
}

.simpleweather-current {
    margin-right: 24px;
}

.simpleweather-current-item {
    text-align: center;
}

.simpleweather-card-icon {
    icon-size: 64px;
}

.simpleweather-card-row {
    spacing: 12px;
    font-weight: normal;
}

.simpleweather-settings-icon {
    icon-size: 16px;
}

.simpleweather-second-panel-label {
    margin-left: 8px;
}

.sw-carousel
{
    spacing: 8px;
}

.sw-carousel-indic
{
    spacing: 6px;
    margin-bottom: 4px;
}

.sw-carousel-dot
{
    width: 6px;
    height: 6px;
    border-radius: 99px;
    background-color: rgba(255, 255, 255, 0.35);
}

.sw-carousel-dot.sw-active
{
    width: 12px;
    background-color: rgba(255, 255, 255, 0.95);
}

