
.simpleweather-h1 {
    font-size: 1.75em;
}

.simpleweather-h2 {
    font-size: 1.5em;
}

.simpleweather-small {
    font-size: 0.85em;
}

.simpleweather-center {
    text-align: center;
}

.simpleweather-selected {
    font-style: italic;
}
